<html>
  <head>
    <title>Sieve</title>
    <base href="http://sieve.alexose.com/">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="js/jquery.pjax.js"></script>
    <script src="js/d3.v3.min.js"></script>
  </head>
  <body>

    <a href="https://github.com/alexose/sieve">
      <img style="position: absolute; top: 0; right: 0; border: 0; z-index: 9999" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png">
    </a>

    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="collapse navbar-collapse">
          <ul id="nav" class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="http://github.com/alexose/sieve">Documentation</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Examples <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Non-streaming</li>
                <li><a href="/examples/github.html">Commit message</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Streaming</li>
                <li><a href="/examples/streaming.html">Basic Streaming</a></li>
                <li><a href="/examples/timeseries.html">Time Series</a></li>
                <li><a href="/examples/placenames.html">Placenames Map</a></li>
                <li><a href="/examples/graph.html">Connections Graph</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="body">{{body}}</div>

  </body>

  <script type="text/javascript">

// AJAX-y navbar functionality
$(document).pjax('ul#nav a', '#body')

// Inline editor functionality
$(document).ready(function(){

    var url = 'http://sieve.alexose.com?callback=?',
        ele = $('#request'),
        tabs = $('#example ul li a'),
        timeout,
        request;

    var examples = [
            {
                "url" : "https://api.github.com/repos/alexose/sieve/commits",
                "selector" : ".commit .date"
            },
            {
                "url" : "http://google.com/finance",
                "selector" : "//td[@class='price']",
                "engine" : "xpath"
                },
            {
                "url": "http://yelp.com/boston",
                "selector": "a.biz-name",
                "engine": "jquery"
            },
            {
                "url" : "https://api.github.com/users/alexose/repos",
                "method" : "GET",
                "selector" : {
                    "name" : ":nth-child(-n+4) .name"
                },
                "then" : {
                    "url" : "https://api.github.com/repos/alexose/{{name}}/commits",
                    "selector" : ".message"
                }
            }
        ];

    tabs.each(function(i){
        $(this).click(function(e){
            e.preventDefault();

            var par = $(this).parent();

            par.siblings().removeClass('active');
            par.addClass('active');

            ele.text(
                JSON.stringify(examples[i], null, 4)
            );

            go();
        });
    });

    tabs.first().trigger('click');

    ele
      .bind('keydown', keydown)
      .bind('blur', blur);

    function keydown(key){

      clearTimeout(timeout);

      // Wait 2 seconds and execute
      timeout = setTimeout(go, 2000);
    }

    function blur(){
        go();
    }

    function go(){
        var alertClasses = 'alert alert-danger';

        ele.removeClass('alert alert-danger');

        var input = ele.text();
        if (input !== request){
            request = input;
            try {
                send(input);
            } catch(error){
                ele.addClass('alert alert-danger');
            }
        }
    }
    go();

    function send(input){

        var ele = $('#result').html('<div class="progress progress-striped active"><div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div></div>'),
            str = btoa(input);

        $.ajax({
            url : url,
            data : { json : str },
            dataType : "jsonp",
            success: display,
            error: display
        });

    }

    function display(result){
        $('#result').text(result);
    }

});

function update(){

}

  </script>


  <script type="text/javascript">

if (typeof(console) !== "undefined"){

}

var tutorial = [
    [
        "    _____              ",
        "  / __(_)__ _  _____   ",
        " _\\ \\/ / -_) |/ / -_)",
        "/___/_/\\__/|___/\\__/ ",
        "                       ",
        "Welcome to the Sieve tutorial!",
        "",
        "To get you started, we've already set up a few variables:",
        "",
        "    server",
        "    post",
        "",
        "To continue, type \"more()\""
    ],
    [
        "Sieve requests begin as JSON objects with the following layout:",
        "",
        "    var request = {",
        "        \"url\" : \"https://api.github.com/repos/alexose/sieve/commits\",",
        "        \"selector\" : \".commit .author .date\"",
        "    };",
        "",
        "(We've set this variable up for you as well.)",
        "",
        "Let's POST this request to the server.  Try typing the following:",
        "",
        "    post(server, request);",
        "",
        "Note that you can always return to the previous step by typing \"last()\"!"
    ],
    [
        "Great!  You retrieved the dates of each commit for this project.",
        "",
        "Pretty easy, right? You can see how this would easy this would make it to get data into your client-side application.",
        "",
        "Now let's try something a little more complicated.  Type more() to continue."
    ],
    [
        "It's often helpful to combine multiple pieces of information.",
        "Sieve allows you to specify multiple selectors in a single request, like so:",
        "",
        "    request = {",
        "        \"url\" : \"https://api.github.com/repos/alexose/sieve/commits\",",
        "        \"selector\" : {",
        "            \"date\" : \".commit .date\",",
        "            \"message\" : \".commit .message\"",
        "        }",
        "    };",
        "",
        "Now let's POST it to the server by typing the following:",
        "",
        "    post(server, request);"
    ],
    [
        "Perfect.",
        "",
        "You might have noticed how fast that response was-- That's because Sieve automatically caches HTTP requests.",
        "",
        "Type more() to continue."
    ],
    [
        "But what if the site we're interested in doesn't return JSON?  Then what?",
        "",
        "Using different types of selectors is easy.  Try this:",
        "",
        "    request = {",
        "        \"url\" : \"https://www.google.com/finance\",",
        "        \"selector\" : \"//table[@id='sfe-mktsumm']/tbody/tr[1]/td\"",
        "    };",
    ],
    [
        "Perfect.  You just retrieved the current value of the Dow Jones Industrial from Google Finance."
    ],
];

var server = 'http://sieve.alexose.com';

var post = function(server, request){

    request = JSON.stringify(request);

    $.post(server, request)
        .success(function(response){
            console.log(response);
            more();
        })
        .error(function(response){
            console.log(response);
        });

    return "POSTing to server...";
};

var pos = 0;

var request = { "url" : "https://api.github.com/repos/alexose/sieve/commits", "selector" : ".commit .date" };

var more = function(){
    var text = tutorial[pos].map(function(d){ return d + "\n"; });

    if (pos){
        text.unshift('\n Step ' + pos + ' of ' + (tutorial.length - 1) + ':\n\n');
    }

    console.log.apply(console, text);
    pos++;

    return '';
}
more();

var last = function(){
    pos--;
    more();
}
  </script>
</html>

